.aboutPage {
  min-height: 70vh;
}

.aboutBox {
  /* background: rgba(133, 133, 133, 0.5); */
  width: 90%;
  margin: 0 auto;
  border-radius: 70px;
  min-height: 60vh;
  color: #636261;
  padding: 0.5em 0;
  font-size: 23px;
  line-height: 2.5rem;
  text-align: left;
  font-weight: bold;
}
em {
  font-weight: bold;
  font-style: normal;
  font-size: larger;
  color: #86e4eb;
  -webkit-text-stroke-width: 0.05px;
  -webkit-text-stroke-color: gray;
}

#image {
  background: url("./GA13Feb_FullRes-7.jpg");
  background-position: center;
  background-size: cover;
  width: 140%;
  height: 200px;
  border-radius: 20px;
  margin: 1rem;
}

.aboutFlex {
  display: flex;
  padding: 5rem 6rem;
}

.aboutBoxText {
  margin: 0;
  padding: 0 2rem;
}
.aboutBoxText p {
  margin-top: 1rem;
  font-size: larger;
}
