.home {
  min-height: 70vh;
}

.welcomeWords {
  line-height: 2.6rem;
  text-align: center;
  margin: 3.4rem auto;
  font-size: 55px;
  color: #86e4eb;
  -webkit-text-stroke-width: 0.2px;
  -webkit-text-stroke-color: gray;
}
